@import '../../styles/settings.scss';

.select {
  min-width: 200px;
  background: $color-light;
  padding: 10px (
    $base-size * 1.5
  );
  margin: 20px ($base-size * 4) $base-size 0;
  font-family: $font-text;
  border-radius: $radius;
  border: 2px solid;
  border-color: $color-dark;
  color: $color-warning;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 2px 4px $color-dark, 0 4px 8px $color-light, 0 8px 16px $color-dark;
}

.select::placeholder {
  color: $color-dark;
  font-style: italic;
  font-size: 14px;
}
